
        <div class="row pt-5">
          <app-sidebar></app-sidebar>
          <div class="col-8">
            <table datatable class="row-border hover table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Answer</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Foo</td>
                  <td><a href="user/editanswer/1"><i class="text-success fa fa-edit"></i></a>&nbsp;&nbsp;
                    <a href="questionDetails/1"><i class="text-info fa fa-eye"></i></a>&nbsp;&nbsp;
                    <i class="text-danger fa fa-times"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>