
        <div class="row pt-5">
          <app-sidebar></app-sidebar>
          <div class="col-8">
            <table datatable class="row-border hover table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Answer</th>
                  <th>Upvotes</th>
                  <th>Status</th>
                  <th>Edited</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let answer of answers; let i = index" >
                      <td>{{ i + 1 }}</td>
                      <td>{{ answer.body }}</td>
                      <td>{{ answer.upvotes }}</td>
                      <td *ngIf="answer.active == 0">Banned <fa name="ban"></fa></td>
                      <td *ngIf="answer.active == 1">Posted</td>
            
                      <td>
                        <a [routerLink]="['/', 'questionDetails', answer.questionId]" *ngIf="answer.active != 0">
                          <fa name="eye"></fa> </a
                        >&nbsp;&nbsp;</td>
                    </tr>
              </tbody>
            </table>
          </div>
        </div>