<div class="contanier mt-4">
  <div class="row">
    <app-sidebar></app-sidebar>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="font-weight-bold mb-3">{{question?.title}}</h5>
          <p class="mb-0">
            {{question?.body}}
          </p>
        </div>
        <div class="list-group">
          <div
            class="list-group-item list-group-item-action flex-column align-items-start "
          >
            <div class="d-flex w-100 justify-content-between">
              <span class="mb-2 badge badge-success ">Approve</span>
              <small>
                <span class="font-weight-bold text-success"
                  >12 <i class="fa fa-thumbs-up"></i
                ></span>
                <span class="font-weight-bold text-danger">
                  3 <i class="fa fa-thumbs-down"></i></span
              ></small>
            </div>
            <p class="mb-2">
              Donec id elit non mi porta gravida at eget metus. Maecenas sed
              diam eget risus varius blandit.
            </p>
            <small>Donec id elit non mi porta.</small>
          </div>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <nav aria-label="Page navigation example float-right">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
