<div class="contanier mt-4">
        <div class="row">
          <app-sidebar></app-sidebar>
          <div class="col-8">
<table datatable class="row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Total Answers</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Foo</td>
            <td>Bar</td>
            <td><i class="text-success fas fa-edit"></i>&nbsp;&nbsp;
                <i class="text-info fas fa-eye"></i>&nbsp;&nbsp;
                <i class="text-danger fas fa-times"></i></td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>
      </div>