<div class="container pt-5">

  <div class="starter-template">
    <div class="list-group">
      <a href="/questionDetails/1" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2 h5">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
          blandit.</p>
        <small>Donec id elit non mi porta.</small>
      </a>
      <a href="/questionDetails/2" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2 h5">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
          blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
      <a href="/questionDetails/3" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-2 h5">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
          blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
    </div>
    <div class="float-right p-2">
      <nav aria-label="Page navigation example float-right">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
