<div class="form">
    <h1>{{action}} question</h1>
  <form [formGroup]="questionForm" (validSubmit)="OnSubmitForm()">
    <div class="form-group">
      <!-- <label for="exampleInputEmail1">Title</label> -->
      <input class="form-control" type="text" formControlName="title" placeholder="Title">
      <bfv-messages></bfv-messages>
    </div>
    <div class="form-group">
      <!-- <label for="exampleInputEmail1">Description</label> -->
      <textarea class="form-control" rows="5" formControlName="body" placeholder="Description"></textarea>
      <bfv-messages></bfv-messages>
    </div>
    <div class="form-group">
      <button class="btn btn-success" type="submit">Submit</button>
    </div>
  </form>
</div>