<div class="container pt-5">
  <div class="starter-template">
    <div class="card">
      <div class="card-body">
        <h5 class="font-weight-bold mb-3">Panel title</h5>
        <p class="mb-0">Some quick example text to build on the panel title and make up the bulk of the panel's content.
        </p>
      </div>
      <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start ">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 font-weight-bold text-success"><i class="fas fa-check"></i></h5>
            <small> <span class="font-weight-bold text-success">12 <i class="fa fa-thumbs-up"></i></span>
              <span class="font-weight-bold text-danger"> 3 <i class="fa fa-thumbs-down"></i></span></small>
          </div>
          <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start ">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 font-weight-bold text-success"><i class="fas fa-check"></i></h5>
            <small> <span>12 <i class="far fa-thumbs-up"></i></span><span> 3 <i
                  class="far fa-thumbs-down"></i></span></small>
          </div>
          <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>
        <div class="list-group-item list-group-item-action flex-column align-items-start ">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-2 h5"></h5>
            <small> <span>12 <i class="far fa-thumbs-up"></i></span><span> 3 <i
                  class="far fa-thumbs-down"></i></span></small>
          </div>
          <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
            blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </div>
      </div>
      <div class="card-footer">
        <div class="float-right">
          <nav aria-label="Page navigation example float-right">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="p-3">
        <h3>Your answer</h3>
        <div *ngFor="let item of items">
          <div class="form-group form-check-inline">
            <div class="custom-control custom-radio pr-4">
              <input type="radio" id="customRadio1{{ item.id }}" checked name="check{{ item.id }}"
                value="{{ item.type }}" class="custom-control-input">
              <label class="custom-control-label" for="customRadio1{{ item.id }}">Text</label>
            </div>
            <div class="custom-control custom-radio ">
              <input type="radio" id="customRadio2{{ item.id }}" name="check{{ item.id }}" class="custom-control-input"
                value="{{ item.type }}">
              <label class="custom-control-label" for="customRadio2{{ item.id }}">Code</label>
            </div>

          </div>
          <span class="float-right text-danger" (click)="remove(item.id)"><i class="fas fa-times"></i>
          </span>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ item.value }}</textarea>
          </div>
        </div>
        <span class="float-right text-success" (click)="append()"><i class="fas fa-plus"></i></span>
        <button *ngIf="items.length" class="btn btn-info">Submit</button>
      </div>

    </div>
  </div>
</div>
