<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand pl-4 pr-5" href="#" style="font-size: 32px;">Q&A</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/questions" routerLinkActive="active"
          >Questions</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div *ngIf="auth.loggedIn">
          <span>Hi </span>
          <button class="btn btn-lg btn-outline-primary" (click)="logout()">Logout</button>
      </div>
      <div *ngIf="!auth.loggedIn">
          <button class="btn btn-lg btn-outline-primary" (click)="openLogin()">Login</button>
          <button class="btn btn-lg btn-outline-primary" (click)="openRegister()">Register</button>
      </div>
      
  </div>
</nav>
<div class="mt-5">
  <div class="px-3 py-3 mt-5 mt-5 mx-auto ">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- Footer -->
<nav class="navbar fixed-bottom bg-dark text-white ">
  <div class="container row col-12 text-center">
    <div class="col-md-3">
      <a href="#">About Us</a>
    </div>
    <div class="col-md-3">
      <a href="#">Contact Us</a>
    </div>
    <div class="col-md-3">
      <a href="#">Company</a>
    </div>
    <div class="col-md-3">
      <a href="#">Team</a>
    </div>
  </div>
  <div class="col-12 text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</nav>

<!-- Footer -->
