
<div class="col-12">
  <nav class=" d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/','dashboard']">
            <fa name="tachometer"></fa>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/','user', 'questions']">
            <!-- <i class="fas fa-question"></i> -->
            <fa name="question-circle"></fa>
            Questions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/','user', 'answers']">
            <!-- <i class="fas fa-reply"></i>  -->
            <fa name="reply"></fa>
            Answers
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

