
   <div class="row pt-5">
      <app-sidebar></app-sidebar>
      <div class="col-8">
        <div class="container bootstrap snippet">
          <div class="panel-body inf-content">
            <div class="row">
              <div class="col-md-4">
                <img
                  alt=""
                  style="width:600px;"
                  title=""
                  class="img-circle img-thumbnail isTooltip"
                  src="https://bootdey.com/img/Content/user-453533-fdadfd.png"
                  data-original-title="Usuario"
                />
              </div>
              <div class="col-md-6">
                <strong>Information</strong>
                <button class="btn btn-link" (click)="openEditModal()">
                  <i class="fa fa-edit"></i></button
                ><br />
                <div class="table-responsive">
                  <table
                    class="table table-condensed table-responsive table-user-information"
                  >
                    <tbody>
                      <tr>
                        <td>
                          <strong>
                            <span
                              class="glyphicon glyphicon-user  text-primary"
                            ></span>
                            Name
                          </strong>
                        </td>
                        <td class="text-primary">
                          {{ auth.currentUser?.name }}
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <strong>
                            <span
                              class="glyphicon glyphicon-envelope text-primary"
                            ></span>
                            Email
                          </strong>
                        </td>
                        <td class="text-primary">
                          {{ auth.currentUser?.email }}
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <strong>
                            <span
                              class="glyphicon glyphicon-envelope text-primary"
                            ></span>
                            Phone
                          </strong>
                        </td>
                        <td class="text-primary">
                          {{ auth.currentUser?.phone }}
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <strong>
                            <span
                              class="glyphicon glyphicon-envelope text-primary"
                            ></span>
                            Questions
                          </strong>
                        </td>
                        <td class="text-primary">
                          <span
                            ><a class="nav-link" routerLink="/user/questions"
                              >{{ noOfQuestions }}
                            </a></span
                          >
                        </td>
                      </tr>
                      <!-- <tr>
                        <td>
                          <strong>
                            <span
                              class="glyphicon glyphicon-envelope text-primary"
                            ></span>
                            Answers
                          </strong>
                        </td>
                        <td class="text-primary">
                          <span
                            ><a class="nav-link" routerLink="/user/questions"
                              >{{ noOfAnswers }}
                            </a></span
                          >
                        </td>
                      </tr> -->
                      <tr>
                        <td>
                          <strong>
                            <span
                              class="glyphicon glyphicon-calendar text-primary"
                            ></span>
                            Last updated
                          </strong>
                        </td>
                        <td class="text-primary">
                          {{ auth.currentUser?.lastUpdated }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
