<!-- Header -->
<header class="bg-secondary text-center py-5 mb-4">
    <div class="container">
      <h1 class="font-weight-light text-white">Meet the Team</h1>
    </div>
  </header>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px"  src="https://scontent.ffod1-1.fna.fbcdn.net/v/t1.0-9/59929245_2689198481093586_132684454740099072_o.jpg?_nc_cat=104&_nc_oc=AQmZ2Z470Jy1D8RD5nEq-YxLzvw7UkqBWBoMiBUMzq4i3chp5XR-tbeLYcUKbiVImfc&_nc_ht=scontent.ffod1-1.fna&oh=478e7b48aa59bd3ff5866bd5de298d0a&oe=5E3F12A5" class="card-img-top img-responsive" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Chinedu Ugwu</h5>
            <div class="card-text text-black-50">Disagree</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px" src="https://scontent.ffod1-1.fna.fbcdn.net/v/t1.0-9/283238_2273810931008_3028131_n.jpg?_nc_cat=109&_nc_oc=AQkUKvJIaXCNUf3Rk2g4ZHLajwWibgQFO-MVz00KAuNEqpy3yRP8W4_lFugpcbU0ges&_nc_ht=scontent.ffod1-1.fna&oh=2b9de174af227ae148e491d4690215a2&oe=5E493E9C" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Islam Ahamd</h5>
            <div class="card-text text-black-50">Loud Speaker</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px" src="https://scontent.ffod1-1.fna.fbcdn.net/v/t1.0-9/73242834_1506259482847582_8012777823066390528_o.jpg?_nc_cat=105&_nc_oc=AQldSPB91Bz_7ozQRw149E1zOfQGq89uBxPZ6GnhVk-wLPfahWFig5kG9mQJDGDHA-E&_nc_ht=scontent.ffod1-1.fna&oh=67bae80bc3e75f044c12a658d8efa19a&oe=5E58C751" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Ogabek Yuldashov</h5>
            <div class="card-text text-black-50">Tovarishch</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px"  src="https://scontent.ffod1-1.fna.fbcdn.net/v/t1.0-9/50460019_2017695804995176_6627229022713544704_o.jpg?_nc_cat=111&_nc_oc=AQnmnfcegf0ogSO0p2XBQT81TBrynf9FX2Ojx2qjqTy10OCrntWdljOqpQraISv0Pi0&_nc_ht=scontent.ffod1-1.fna&oh=63bb1921295feff5ee5cf6e61e54b03f&oe=5E4A072D" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Rustem Bayetov</h5>
            <div class="card-text text-black-50">Druk</div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px"  src="https://scontent.ffod1-1.fna.fbcdn.net/v/t1.0-9/67964175_3125224777516362_8926312887274700800_o.jpg?_nc_cat=106&_nc_oc=AQnX-cNe-7PYkfd7AMrsAQIX8gDgdvU2zwO0YLTNAh69gquKaHVyuKqCJK5Wt3IvU7s&_nc_ht=scontent.ffod1-1.fna&oh=ad42cbbe15624067ca6523caf651c13d&oe=5E81E9DA" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Saju Ahmad</h5>
            <div class="card-text text-black-50">Cool</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px"  src="https://scontent.ffod1-1.fna.fbcdn.net/v/t1.0-9/73213132_10219405708320788_3664267952925966336_o.jpg?_nc_cat=107&_nc_oc=AQlZ1SGmqBwIf9_3E8YBvPL8eT-APgZrrZ967MU4ppMoNwW4A5xD-uEvU0jzJ9YtpW4&_nc_ht=scontent.ffod1-1.fna&oh=ea279ede527dba4a745541a399e3c8f2&oe=5E4253C4" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Thu Truong</h5>
            <div class="card-text text-black-50">Genius</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px"  src="https://scontent.ffod1-1.fna.fbcdn.net/v/t1.0-9/50766605_10215904742705937_1387229013033877504_n.jpg?_nc_cat=106&_nc_oc=AQmevNunM8cuHn1nzA7gn-1e9_dpA_FzLGgNX-ECXwKYBsGRdPJb0Wde0oBXMAyM5W0&_nc_ht=scontent.ffod1-1.fna&oh=30a97f06589ea39bb54b01e6c45cf132&oe=5E4118B9" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Tuyen Le</h5>
            <div class="card-text text-black-50">Work</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px" src="https://source.unsplash.com/ZI6p3i9SbVU/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Van Le</h5>
            <div class="card-text text-black-50">Slient</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img style="overflow: hidden;display: flex; height:179px ;width:255px"  src="https://scontent.ffod1-1.fna.fbcdn.net/v/t1.0-9/50766635_2287369947953490_6938386174809473024_n.jpg?_nc_cat=109&_nc_oc=AQkWT7VlrvEmTXw-7Ot-waH6PV_nUZ8yd55omvBEDTCzd3iEkxdhduc0z9xe67MOoUo&_nc_ht=scontent.ffod1-1.fna&oh=ad8f751c18094989fe4ea50d1531c8c4&oe=5E86656E" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Zayed Hassan</h5>
            <div class="card-text text-black-50">Lazy</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->