<div class="form">
    <h1>Signup Form</h1>
    <form >
        <input class="text" type="text" name="Username" placeholder="Username" required minlength="4">
        <input class="text email" type="email" name="email" placeholder="Email" required minlength="4">
        <input class="text" type="password" name="password" placeholder="Password" required minlength="4">
        <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required minlength="4">
        <div class="wthree-text">
            <label class="anim">
                <input type="checkbox" class="checkbox" required>
                <span>I Agree To The Terms & Conditions</span>
            </label>
            <div class="clear"> </div>
        </div>
        <button>signup</button>
    </form>
    <!-- <p>Already have an Account? <a href="/login"> Login Now!</a></p> -->
</div>